CONSUMER_KEY='XXXXXXXXXX'#keep the quotes, replace this with your consumer key
CONSUMER_SECRET='XXXXXXXXXX'#keep the quotes, replace this with your consumer secret key
ACCESS_KEY='XXXXXXXXXX'#keep the quotes, replace this with your access token
ACCESS_SECRET='XXXXXXXXXX'#keep the quotes, replace this with your access token secret
RANDOM_SLEEP_BETWEEN_TWEETS='' # vazio = nao dormir, qualquer outro valor=true: esperar 5min entre os envios dos tweets

API_SHLINK=''
OPEN_IA_KEY=''

DOU_LOGIN=''
DOU_SENHA=''

DB_DRIVER='postgresql'
DB_HOST='localhost'
DB_PORT='5432'
DB_USERNAME=''
DB_PASSWORD=''
DB_DATABASE=''
DB_SCHEMA='public'
